body{
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}


.seccion__titulo{
    text-align: center;
    
}

p{
    text-align: justify;
    margin-left: 100px;
    margin-right: 100px;
}

.seccion__lista{
    margin-left: 100px;
    font-size: 1.2rem;
}


img{
    width: 400px;
    height: 300px;

}

.seccion__mascota{

    display: flex;
    padding-top: 30px;
    margin-left: 100px;
    padding-bottom: 30px;
}

a{
    font-size: 2rem;
}

.seccion__link{
    margin-top: 100px;
    margin-left: 80px;
}